#accordian_body {
    top: 52px;
    position: fixed;
	margin-left: 0;
	height: -moz-calc(100% - 46px); /* Firefox */
	height: -webkit-calc(100% - 46px); /* Chrome, Safari */
	height: calc(100% - 46px); /* IE9+ and future browsers */
	overflow: auto;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.8), 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.8) inset;
    z-index: 1000;
    float: left;
}

#accordian {
    background: none repeat scroll 0 0 #f4f4f4;
    border-bottom: 1px solid #cdcdcd;
    box-shadow: 0 1px 4px #ccc;
	height: 99.5%;
	color: white;
	overflow: auto;
}

#accordian h3 {
	margin: 0;
	background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    border: 1px solid #dfdfdf;
	font-weight: normal;
}

#accordian h3 a {
	padding: 0 10px;
	font-size: 12px;
	line-height: 30px;
	display: block;
	text-decoration: none;
	outline: medium none;
	color: #222;
}

#accordian h3:hover {
	background-color: #e2e2e2;
    background-image: linear-gradient(to bottom, #e0e0e0, #d0d0d0);
    border: 1px solid #bbb;
}

#accordian li a:hover {
	background-color: #e2e2e2;
    background-image: linear-gradient(to bottom, #e5e5e5, #d5d5d5);
}

#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}

#accordian ul li ul li a span, #accordian span+span {
	margin-right: 5px;
}

#accordian li {
	list-style-type: none;
}

#accordian ul ul li a, #accordian h4 {
	color: #444;
	text-decoration: none;
	font-size: 12px;
	line-height: 24px;
	display: block;
	padding: 0 15px;
	transition: all 0.15s;
	position: relative;
	outline: none;
}

#accordian ul ul li a:hover {
	border-left: 5px solid red;
}

#accordian ul {
	margin: 0;
	padding: 0;
}

#accordian ul ul {
	display: none;
}

#accordian li.active>ul {
	display: block;
}

#accordian ul ul ul{
	margin-left: 15px; 
	border-left: 1px dotted black;
}

#accordian a:not(:only-child):after {
	content: "\f105";
	font-family: fontawesome;
	position: absolute; right: 10px; top: 0;
	font-size: 14px;
}

#accordian .active>a:not(:only-child):after {
	content: "\f107";
}

.glyphicon {
	top: 3px;
}
