	<div class="page-header">
		<h1>Fatura Modülü</h1>
		<p class="lead">Alış-Satış faturaları ve bunlara iade faturalarının takip edildiği modüldür.</p>
	</div>

	<h4>Faturalar</h4>
	<p>
		Faturalar dört kısımdan oluşmaktadır: Alış, Satış, Alış İade ve Satış İade faturası. Faturalardaki tablolu giriş hakkında detaylı bilgi için <a type="button" href="#/others/stock-tabs" class="btn btn-default btn-xs active">Stok Tabları</a> kısmına ve faturaları yazdırma hakkında detaylı bilgi için de <a type="button" href="#/printing/printing" class="btn btn-default btn-xs active">Belge Basımları</a> kısmına bakabilirsiniz.
	</p>

	<h4>Fatura Kaynakları</h4>
	<p>
		Fatura hareketlerinizi işlem türüne göre guruplamak isterseniz bu kısmı kullanabilirsiniz. Fatura Kaynakları'nın hangi tür faturalarda kullanılabileceğini belirleyerek de daha fazla kontrol sağlayabilirsiniz.
		<div class="bs-callout bs-callout-warning">
			<h4>Lütfen Dikkat</h4>
			<p>
				Bazı fatura kayıtlarının stok yansıması yapması veya maliyetleri etkilemesi istenmeyebilir! Bu durumlar için Fatura Kaynaklarını kullanabilirsiniz. Tanımlayacağınız kaynağın,
				<ul>
					<li>Maliyetlere etkisini istemiyorsanız <span class="bordered">Maliyetlere etkisi var mı?</span> değerini HAYIR,</li>
					<li>Stoklara yansımasını (artış/azalış) istemiyorsanız <span class="bordered">Stok Yansıması?</span> değerini HAYIR yapabilirsiniz.</li>
				</ul>
			</p>
		</div>
	</p>

	<h4>Fatura Kapama İşlemi</h4>
	<p>
		Her girilen fatura <span class="bordered">Beklemede</span> statüsünde kaydedilir. Girdiğiniz alış-satış faturalarını Kapatmak için bu kısmı kullanırsınız. Kapatma işlemi 2 adımdan oluşmaktadır; arama-bulma ve kapatma.
	</p>

	<p>
		<div>
			<strong>1. Arama-Bulma adımı</strong>
		</div>
		Kapatmak istediğiniz faturaları öncelikle bu kısımdan (cari hesabına, teslim tarihine, statüsüne, fiş tipine... göre) bulmalısınız.

		<div class="vspace-15">
			<strong>2. Kapatma adımı</strong>
		</div>
		1. adımda bulduğunuz faturalar aşağıda, Arama Sonuçları kısmında listelenir. Kapatmak istediğiniz faturaların en solunda bulunan checkbox kutucuğunu aktif hale getirip, üst kısımda bulunan Seçilen Faturayı Kapat butonunu seçersiniz. Böylece seçtiğiniz faturalar kapanmış olur.
	</p>

	<h4 class="vspace-25">Raporlar Listeler</h4>
	<p>
		 Rapor ve Liste formları hakkında genel bilgi edinmek için <a type="button" href="#/others/report-forms" class="btn btn-default btn-xs active">Rapor ve Liste Formları</a> kısmına bakabilirsiniz.
		 <ul>
		 	<li>Fatura Listesi : Fatura listesini verir. Özet ve Detay şeklinde alınabilir.</li>
		 </ul>
	</p>
