	<div class="page-header">
		<h3>Cari Borç dekontu için örnek belge tasarım</h3>
	</div>

	<h4><a href="downloads/sample05.json" download>Bu tasarımı indirmek için burayı klikleyiniz!</a></h4>

  <div ng-include src="'includes/printing-infos.html'"></div>

	<h4>Çıktısı</h4>
	<p>
		<pre style="width: 66%">
 ---------------------------------------------------------------------------------------------------------------------------------------------
|                                                                                                                                             |
|    XYZ LİMİTED ŞİRKETİ                                                                                                                      |
|    İSTANBUL                                                                                                                                 |
|                                                 -------------------------------------                                                       |
|                                                     B O R Ç   D E K O N T U D U R                                                           |
|                                                 -------------------------------------                                                       |
|                                                                                                            İSTANBUL                         |
|                                                                                                                                             |
|   Sayın : (CTK100),   SALCANO BISIKLET SANAYI                                                                                               |
|                                                                                                                                             |
|                                                                                                                                             |
|           Hesabınıza 29/03/2014 tarihinde #7,500.00# TL BORÇ kaydedilmiştir.                                                                |
|  Yalnız : (yedibinbeşyüz-lira)                                                                                                              |
|                                                                                                                                             |
|                                                                                                                                             |
|    Not: Mutabakat işlemlerinde bu evrak dikkate alınır.                                                                                     |
|                                                                                                                                             |
|                                                                                                                                             |
|                                                                                                     Saygılarımızla                          |
|                                                                                               XYZ Limited Şirketi Adına                     |
|                                                                                                                                             |
|                                                                                              İşletme Müdürü Mehmet TURNA                    |
|                                                                                                                                             |
|                                                                                                                                             |
|                                                                                                                                             |
|                                                                                                                                             |
|                                                                                                                                             |
|   Banka bilgilerimiz                                                                                                                        |
|   Hesap No : 123456789-0 TC Merkez Bankası İstanbul Şubesi                                                                                  |
|   IBAN     : TR 345678901234567890123                                                                                                       |
|                                                                                                                                             |
 ---------------------------------------------------------------------------------------------------------------------------------------------</pre>
	</p>
